@charset "utf-8";
*{padding:0;margin:0;}
li{list-style:none;}
body{margin:10px;background:white;}

/* wrap */
.wrap{margin:50px auto;width:1134px;height:437px;position:relative;overflow:hidden;}
.pic{width:679px;height:437px;cursor:pointer;}
.pic1{background:url('../images/01.jpeg');position:absolute;top:0;left:0;z-index:1;}

.pic2{background:url('../images/02.jpeg');position:absolute;top:0;left:679px;z-index:3;}

.pic3{background:url('../images/03.jpeg');position:absolute;top:0;left:770px;z-index:5;}

.pic4{background:url('../images/04.jpg');position:absolute;top:0;left:861px;z-index:7;}

.pic5{background:url('../images/05.jpeg');position:absolute;top:0;left:952px;z-index:9;}

.pic6{background:url('../images/06.jpeg');position:absolute;top:0;left:1043px;z-index:11;}
